*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
/* start banner section */
.banner{
    background: url(../images/banner.jpg) bottom center;
    background-size: cover;
}
.top-header{
    background-color: #000;
    height: 50px;
    position: relative;
    top:18px; 
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    float: right;
}
ul li{
    margin-right: 20px;
}
ul li a{
    color: white;
} 
ul li a:hover{
    text-decoration: none;
    color: #ffc702;
}
.banner .social-media{
    float: right;
    margin-top: 5px;
}
.social-media a{
    margin-right: 10px;
    color: white;
    font-size: 22px;
}
.social-media a i{
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 10px;
    width: 41px;
    height: 40px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.social-media a:hover {
    color: #ffc702;
    border: none;

}
.heading{
    margin:155px 215px;
}
.heading p{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.text-light{
    font-size: 13px;
}
.heading h3{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0;
}
.heading h1{
    color: #d99671;
    font-weight: bold;
    font-size: 50px;
}
input[type="button"]{
    background-color: #fff;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    padding: 10px 22px;
    margin-top: 12px;
}

.p-heading{
    background: #000;
    padding: 20px 0 ;
}
aside h5{
    color: #eac769;
    padding-top: 15px;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}
h2{
    color: white;
    margin-top: 30px;
    font-size: 45px;
    padding-bottom: 40px;
    text-transform: capitalize;
}
/* end banner section */

/* start card section */

.card{
    padding-top: 40px;
    border: none;
}
.card img{
    max-width: 100%;
    height: auto;
}
.card h5{
    font-size: 32px;
    font-weight: 400;
}

.info span{
    color: #ffbc00;
}
.card div{
    overflow: hidden;
    margin-bottom: 20px;
}
.card figure {
    position: relative;
    top: -30px;
}

.card figure .yellowSkew , .card figure .blackSkew {
    height: 40px;
    position: absolute;
    width: 100%;
}

.card figure .yellowSkew {
    background-color: #fec40180;
    transform: skewY(-2deg);
}

.card figure .blackSkew {
    background-color: #000;
    transform: skewY(3deg);
    height: 300px;
}
.card figure .info {
    position: relative;
    padding: 25px 15px 15px 15px;
}

/* end card section */

/* start new section */

.new{
    background-color: #000;
    padding-bottom: 40px;
}
.new img{
    width: 100%;
    margin-bottom: 15px;
}
.new h3{
    color:#ffc702;
    padding-bottom: 16px;
    padding-top: 35px;
}
.order{
    background: url(../images/sep.png);
    margin-top: 50px;
    color: #fff;
    padding: 20px 0;
}
.order .btn{
    background-color: #fff;
    border-radius: 50px;
}

.achievement{
    color: #fff;
    padding-top: 25px;
}
.achievement h2{
    padding-bottom:10px ;
    font-weight: 300;
    font-size: 25px;
}
.achievement .lead{
    font-size:15px;
}
.achiv-p{
    font-size: 13px;
}
/* end new section */

/* start contact section */

.contact{
    background: url(../images/contactus.jpg) no-repeat center center;
    height: 335px;
}
.contact .overlay{
    background-color:rgba(131, 157, 165,.5);
    height: 335px;
}
.contact h5{
    color: #ffbc00;
    padding-top: 85px;
    font-size: 30px;
}
.contact p{
    color: white;
    font-size: 17px;
}
.contact form{
    border: 1px solid #ffbc00;
    margin-top: 45px;
    padding: 10px 13px;
    box-shadow:  0px 2px 15px 2px #ffc702;
}
.contact input[type="text"]{
    width: 100%;
    margin-bottom: 12px;
    height: 40px;
    background-color: #fff;
    padding-left: 15px;
}
input::placeholder{
    color: #999;

}
.contact input[type="button"]{
    width: 100%;
    border-radius: 0;
    background-color: #ffbc00;
    font-weight: 400;
}
.contact-color{
    background-color: #ffc702;
    height: 15px;
}
/* end contact section */

/* start footer section */

.footer{
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #fff;
}
.footer p{
    font-size: 18px;
}
.footer p i{
    margin-right: 15px;
}
.footer p i:hover{
    color: #ffc702;

}
.footer .fa-2x{
    color: #ffc702;
    margin-right: 11px;
    margin-bottom: 25px;
}
.footer .fa-2x:hover{
    color: #fcfcfa;
}
input[type="text"]{
    background-color: transparent;
    border: 0px solid;
   border-bottom: 1px solid #fff;
   width: 100%;
} 
::placeholder{
   color: #fff;
}
.btn-light{
    border-radius: 50px;
    padding: 7px 22px;
    margin-top:15px
}
hr{
    background: #ffc702;;
}
.copy-right{
    text-align: center;
}
.copy-right p{
    font-size: 15px;
    margin-bottom: 0;

}
.copy-right span{
    color: #ffc702;
}

/* end footer section */